.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid var(--white);
  border-top: 5px solid var(--apricot);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
