.movies {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 70px;

  &FoundResult {
    font-weight: 400;
    padding: 24px 0;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
}
