.favoriteButton {
  flex-basis: auto;
  width: 120px;
  height: 62px;
  padding: 10px 4px;
  color: var(--white);
  background-color: var(--grey);
  border: 2px solid rgb(151, 151, 151);
  border-radius: 30px;

  &:hover {
    background-color: var(--apricot);
  }

  &.active {
    background-color: var(--apricot);
  }
}
