.filmInformation {
  margin: 50px;
  display: flex;
  gap: 200px;

  img {
    width: 350px;
    height: 531px;
  }

  .filmDetails {
    color: var(--apricot);
    display: flex;
    flex-direction: column;
    gap: 50px;

    p {
      font-size: 28px;
    }
  }
}
