.header {
  height: 400px;
  background: url('/src/assets/img/Header.png') no-repeat center/cover;

  &Logo {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    a {
      color: var(--apricot);
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }

    &Btn {
      color: var(--apricot);
      background-color: rgba(96, 96, 96, 0.68);
      border: 1px solid rgba(96, 96, 96, 0.68);
      border-radius: 5px;
      width: 177px;
      height: 46px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      &:hover {
        font-size: 22px;
      }
    }
  }

  h1 {
    color: var(--white);
    padding: 35px 0 38px 120px;
    font-size: 40px;
    font-weight: 300;
    line-height: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
